.bigScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  line-height: 1.2;
  color: black;
  background-color: #ffe812;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  display: none;
  z-index: 4;
}

@media screen and (min-width: 550px) {
  .bigScreen {
    display: flex;
  }
}
